body{
  background-image: url("Formato\ grande\ \(PC\).svg");
  background-repeat:no-repeat;
  background-size: cover;
  

}

.form{
  max-width: 600px;
   margin: 20rem auto;
   padding-top:  5rem;
   padding-left: 39%;
}
input{
  display: block;
  border-radius: 20px;;
  margin: 15px;
  width: 300px; 
  height: 30px;
}
