body{
  background-image: url("Formato\ grande\ \(PC\).svg");
  background-repeat:no-repeat;
  background-size: cover;
  //background-size:contain;
  overflow: hidden;
 
}

.form{
  max-width: 600px;
   margin: 20rem auto;
   padding-top:  5rem;
   padding-left: 400px;;
}


input[type=text], [type=tel], [type=email] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #899A6C; 
  display: block;
  margin: 15px;
  width: 300px; 
  height: 30px;


}

input::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 350;
  font-size: 22px;
  line-height: 30px;
  color:#899A6C; 
}

input[type=submit]{
  position: absolute;
  background: transparent;
  border-bottom: 1px solid #899A6C; 
  display: block;
  left: 700px;
  margin: 15px;
  width: 100px;
  height: 45px;
}

